@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
::placeholder {
  color: rgb(129, 133, 140);
  opacity: 0,3;
}

.isa_error {
  margin: 20px 0px;
  padding: 5px;
  padding-right: 65px;
  padding-bottom: 8px;
  border-style: solid;
  width: 100%;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.login-box {
  padding-top: 110px;
  height: 50%;
  width: 35%;
}

.login-form-block {
  width: 100%;
}

.background-image {
  position: absolute;
  bottom: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

